<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>

        .div1{
             padding : 20px;
             margin-left : 30px;
             background-color:#91949212;
             width: 30%;
             float:left
         }
         a{
            text-decoration:none;
            font-size:20px;

         }
    </style>
</head>
<body>
    <div class="div1">
        <a href="{% url 'admin_app:login' %}">Admin</a>
        <a href="{% url 'user_app:loginuser' %}">User</a>
    </div>
</body>
</html>